body {
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  max-width: 600px;
  background: linear-gradient(
    90deg,
    rgb(115, 228, 252) 0%,
    rgb(139, 102, 241) 100%
  );
  padding: 0px;
  margin: 40px auto;
}
.card {
  background: linear-gradient(
    90deg,
    rgb(115, 228, 252) 0%,
    rgb(139, 102, 241) 100%
  );
  padding: 30px;
}
h1 {
  font-size: 24;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 0;
}
ul {
  padding: 0;
}
li {
  list-style: none;
  font-size: 16px;
  font-weight: 100;
  color: black;
}
li:first-letter {
  text-transform: capitalize;
}
.top-section {
  margin-bottom: 16px;
}
#temperature {
  line-height: 64px;
  font-size: 40px;
  font-weight: 900;
}
#celcius-link,
#fahrenheit-link {
  position: relative;
  top: -16px;
}
a {
  text-decoration: none;
}
#celcius-link {
  color: black;
}
#humidity,
#wind {
  font-size: 16px;
  font-weight: 400;
}

.source-code {
  opacity: 0.6;
  font-size: smaller;
  margin-right: 20px;
}
